@import "tailwindcss";
@import 'atropos/css';

.mainBg {
  background-color: var(--color-gray-900);
  background-image: radial-gradient(
    circle at top right,
    rgba(131, 4, 185, 0.089), 
    transparent 75vw
  );
  background-size: 100vw 100hv;
  background-repeat: no-repeat;

  min-height: 100vh;
}
